.title {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,9,9,1) 35%, rgba(9,11,11,1) 100%);
}
.title-text {
  color: rgb(230, 235, 240);
  margin: auto;
  text-align: center;
  font-family: 'Goldman', cursive;
  padding: 1rem;
}

.navbar {
  font-family: 'Roboto Condensed', sans-serif;
}

.dark-background {
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(19,22,22,1) 35%, rgba(27,34,34,1) 100%);
}

.light-text, .icon-light, .light-text a {
  color: rgb(235, 240, 245);
}

.toggler-dark {
  background: rgb(20, 25, 30);
}

.no-radius {
  border-radius: 0;
}

.nav-item {
  margin-right: 1rem;
}