/* title styles */

.title {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,9,9,1) 35%, rgba(9,11,11,1) 100%);
}

.title-text {
  color: rgb(230, 235, 240);
  margin: auto;
  text-align: center;
  font-family: 'Goldman', cursive;
  padding: 1rem;
}

/* universal styles */
.center-content {
  display: flex;
  justify-content: center;
}

/* navbar styles */

.navbar {
  font-family: 'Roboto Condensed', sans-serif;
}

.nav-container {
  padding: 0px;
}

.dark-background {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(19,22,22,1) 35%, rgba(27,34,34,1) 100%);
}

.light-text, .icon-light, .light-text a {
  color: rgb(235, 240, 245);
}

.toggler-dark {
  background: rgb(20, 25, 30);
}

.no-radius {
  border-radius: 0;
}

.nav-item {
  margin-right: 1rem;
}

.active {
  font-weight: 700;
}

.pc-nav-item:hover {
  background: rgb(50,58,55);
  background: linear-gradient(180deg, rgba(50,58,55,1) 0%, rgba(107,124,124,1) 35%, rgba(128,163,163,1) 100%);
  color: rgb(30, 35, 40);
}

/* pc navbar styles */

.navbar-content {
  margin: auto;
}

.pc-nav-menu {
  display: flex;
}

.pc-nav-item {
  width: 12rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Roboto Condensed', sans-serif;
}